<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.mapper.BoardMapper">
	
	<select id="list" parameterType="board" resultType="board">
		select idx, userId, userName, title,
		to_char(regDate, 'YYYY-MM-DD') regDate, to_char(modDate, 'YYYY-MM-DD') modDate, hit
		from board order by idx desc
	</select>

	<select id="view" parameterType="board" resultType="board">
		select * from board where idx=#{idx}
	</select>

	<select id="insert" parameterType="board" resultType="board">
		insert into board (userId, userName, userEmail, userPhone, title, content, kind, regDate, modDate)
		values 
		(#{userId}, #{userName}, #{userEmail}, #{userPhone}, #{title}, #{content}, #{kind}, now(), now())
	</select>

	<select id="update" parameterType="board" resultType="board">
		update board set 
		userId=#{userId}, userName=#{userName}, userEmail=#{userEmail}, userPhone=#{userPhone},
		title=#{title}, content=#{content}, kind=#{kind}, modDate=now() where idx=#{idx}
	</select>

	<select id="delete" parameterType="board" resultType="board">
		delete from board where idx=#{idx}
	</select>

</mapper>